/* ! --------------------------------------------------------------------------------------------------------------------------------------------
!                                                           SECCION HABITACIONES
! --------------------------------------------------------------------------------------------------------------------------------------------- */

/* ?  --------------------------------------------------------- VERSION PC -------------------------------------------------------------------- */
/* * Codigo */

.contenedor {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gris);
  flex-direction: column;
  position: relative;
}
/* popUP */
.popUp__container {
  inset: 0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.556);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
}
.popUp__content {
  width: 350px;
  max-width: 90%;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
}
.popUp__content h2 {
  color: #a31818;
  font-size: 25px;
  font-weight: 800;
}

.button__regresar {
  cursor: pointer;
  display: none;
  align-items: center;
  gap: 10px;
  border-radius: 20px;
  padding: 5px 10px;
  position: absolute;
  top: 0px;
  left: 10px;
}
.card {
  width: 40%;
  max-width: 480px;
  min-height: 50vh;
  background-color: var(--blanco);
  border-radius: clamp(20px, 3.47vw, 50px);
  box-shadow: 0px 4px 20px var(--plomo);
  overflow: hidden;
  position: relative;
}
/* Centra un */
.card__titulo {
  padding: clamp(20px, 2.22vw, 32px);
  background-color: var(--anaranjado);
  color: var(--blanco);
}

.card__contenido {
  padding: clamp(20px, 2.22vw, 32px);
  gap: clamp(20px, 2.22vw, 32px);
  display: flex;
  flex-direction: column;
}

.card__elemento {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* * Switch */
/* Estilo general */
.toggle-switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 30px;
  margin: 10px;
}

/* Checkbox */
.toggle-switch .toggle-input {
  display: none;
}

/* El label será el contenedor padre */
.toggle-switch .toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  width: 56px;
  height: 30px;
  background-color: var(--plomo);
  border-radius: 34px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* Es el círculo que indicará prendido o apagado */
.toggle-switch .toggle-label::before {
  content: "";
  position: absolute;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  background-color: #fff;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s;
}

/* Estilo del father container en prendido */
.toggle-switch .toggle-input:checked + .toggle-label {
  background-color: #4caf50;
}

/* Estilo del círculo pequeño container en prendido */
.toggle-switch .toggle-input:checked + .toggle-label::before {
  transform: translateX(26px);
}

/* ?  ------------------------------------------------------- VERSION MOBILE ------------------------------------------------------------------ */
@media screen and (max-width: 767px) {
  .card {
    width: 100%;
    min-height: 40vh;
  }

  /* * Boton */
  .card__boton {
    background-color: var(--plomo);
    width: 85px;
    height: 40px;
    border-radius: 20px;
    padding: 2px;
    cursor: pointer;
  }
  .card__circulo {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    background-color: var(--blanco);
  }
}
